.welcomecrearelogo {
    color: var(--text-secondary);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
   
    font-size: var(--fs-large);
}
.crearelogo a {
    color: var(--text-secondary);
    font-size: var(--fs-large);
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin-left: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: fixed;
    background-color: orangered;
    padding: var(--space-large);
    border: 6px solid;
    border-radius: 50px;
    width: 400px;
    
}
.crearelogo .container-logo {
    max-width: 1000px;
    position: relative;
    text-align: center;
}


img {
    margin-left: 300px;
    width: 100%;
    height: auto;

}
